/* Container for the whole page */
.vehicle-assign-container {
    padding: 22px 40px 120px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.vehicle-assign-heading {
    margin-bottom: 10px;
    font-size: 25px;
    color: #d94625;
    font-weight: bold;
    text-transform: uppercase;
}

.vehicle-assign-description {
    font-size: 11.5px;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 15px;
}

.vehicle-assign-description strong {
    color: rgb(19, 134, 183);
}

.tab-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tab-buttons button {
    padding: 10px 12px;
    border: none;
    text-transform: uppercase;
    background-color: #cccecf;
    color: #1a202c;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-buttons button.active {
    background-color: #555;
    color: #fff;
}

.tab-buttons button:hover:not(.active) {
    background-color: #91c1ff;
    color: #fff;
}

.request-count {
    background-color: rgb(209, 18, 18);
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.action-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.action-section select {
    padding: 13px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10.5px;
    color: black;
    background: #cccecf;
    transition: border 0.2s;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg fill='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 14px;
    cursor: pointer;
}

.action-section select:focus {
    border-color: #FF8042;
}

.action-section button {
    padding: 12px 12px;
    border: none;
    font-size: 11px;
    background-color: #2c5282;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.action-section button:disabled {
    background-color: #c0bba0;
    cursor: not-allowed;
}

.action-section button:hover:not(:disabled) {
    background-color: #333;
}

.ongoing-trips-section {
    margin-top: 50px;
}

.ongoing-trips-section h2 {
    color: rgb(19, 134, 183);
    margin-bottom: 15px;
    font-size: 24px;
    text-transform: uppercase;
}

.grid-container-trip-ongoing {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: #39970a;
}

.grid-container-trip-approved {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: #FF8042;
}

.grid-container-trip-admin{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    color: #eb2f96;
}

.approve-button {
    margin-top: 10px;
    padding: 12px 12px;
    border: none;
    font-size: 11px;
    background-color: #2c5282;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 400px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.approve-button:hover {
    background-color: #333;
}